@media (max-width: 992px) {
  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 12px;
  }

  h4, h5, h6 {
    font-size: 8px;
  }

  body > div {
    padding-bottom: 0;
  }

  img {
    max-width: 100%;
  }

  .breadcrumb-container {
    display: none;
  }

  .widget-search {
    margin-left: auto !important;
  }

  .page {
    max-width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 89px;
  }

  .btn-menu {
    order: 999;
    padding: 5px 10px;
    margin-left: 4px;
  }

  .btn-menu svg {
    margin-right: 0;
  }

  .widget-languages {
    margin-left: 4px !important;
  }

  .logo {
    margin-right: 10px;
  }

  #menu-header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 50px;
    background-color: #252432;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.5);
  }

  #menu-header ul {
    margin-left: 0;
  }

  #menu-header ul li a {
    margin-left: 0;
    padding: 15px 15px 5px 15px !important;
  }

  #menu-header ul li a.selected {
    border-bottom: none;
  }

  #menu-header .navbar-submenu {
    display: block !important;
    position: static;
    min-width: auto;
  }

  #menu-header .navbar-submenu.invisible-mobile {
    display: none !important;
  }

  #menu-header .navbar-submenu ul {
    box-shadow: none;
    background: transparent;
    border: none;
    margin-top: 0;
    padding-top: 0;
  }

  #menu-header .navbar-submenu ul:before {
    display: none !important;
  }

  #menu-header .navbar-submenu ul:after {
    display: none !important;
  }

  #menu-header .navbar-submenu ul a {
    padding-left: 30px !important;
    color: #FFFFFF !important;
  }

  #menu-header .navbar-submenu ul a:hover {
    background: rgba(255, 255, 255, 0.10);
  }

  #menu-header.show {
    display: block !important;
  }

  .shortcode.shortcode-container.container-small {
    width: 100%;
  }

  /* Expand a full container beyond the page margins */
  .shortcode.shortcode-container.container-full {
    margin-left: -15px;
    margin-right: -15px;
  }

  .shortcode-game-thumbnail {
    margin-bottom: 15px !important;
  }

  .shortcode.shortcode-highlight {
    margin-left: -15px;
    margin-right: -15px;
  }

  .shortcode.shortcode-game-cover {
    display: none;
  }

  .shortcode.shortcode-model-game .shortcode-highlight h1 {
    text-align: center;
    width: 100%;
  }

  .shortcode.shortcode-model-game .shortcode-highlight h4 {
    display: none;
  }

  .shortcode.shortcode-model-game .shortcode-entity-button-download {
    display: block;
    margin: 0 auto 30px auto;
    text-align: center;
  }

  .shortcode.shortcode-model-resource-pack .shortcode-highlight h1 {
    text-align: center;
    width: 100%;
  }

  .shortcode.shortcode-model-resource-pack .shortcode-highlight h4 {
    display: none;
  }

  .shortcode.shortcode-model-resource-pack .shortcode-entity-button-download {
    display: block;
    margin: 0 auto 30px auto;
    text-align: center;
  }

  .shortcode.shortcode-box-highlight {
    display: none;
  }

  footer {
    position: static;
  }

  .shortcode.shortcode-cover .container {
    display: flex;
    flex-flow: column;
  }

  .shortcode.shortcode-cover .shortcode.shortcode-column.col-12.col-md-7 {
    padding-right: 10px;
  }

  .shortcode.shortcode-cover .shortcode.shortcode-column.col-12.col-md-5 {
    text-align: center;
    vertical-align: middle;
    top: 30px;
  }
}

@media (max-width: 768px) {
  .shortcode.shortcode-cover .container {
    display: flex;
    flex-flow: column;
  }

  .shortcode.shortcode-cover svg#illustration {
    height: 250px;
    margin: 0px !important;
    margin-bottom: 30px !important;
    display: inline-block;
  }
  
  .shortcode.shortcode-cover .shortcode.shortcode-column.col-12.col-md-7 {
    padding-right: O;
  }

  .shortcode.shortcode-cover .shortcode.shortcode-column.col-12.col-md-5 {
    order: -1;
    text-align: center;
    vertical-align: top;
    top: 0px;
    margin-left: 0;
  }
}
