body.error {
  margin: 40px;
}

body.error h1 {
  color: #473e7a;
  font-family: sans-serif;
  font-size: 32pt;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 30px;
  text-align: center;
}

body.error h2 {
  color: #695096;
  text-align: center;
  font-family: sans-serif;
  font-size: 2em;
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 15px;
}

body.error p {
  color: #666666;
  text-align: center;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: lighter;
  margin-bottom: 20px;
}

body.error p.small {
  color: #b0b0b0;
  font-family: sans-serif;
  font-size: 0.75em;
  font-weight: normal;
  text-align: center;
}

body.error p a,
body.error p.small a {
  text-decoration: underline;
}

body.error p a {
  color: #666666;
}

body.error p.small a {
  color: #a0a0a0;
}

body.error p a:hover {
  color: #525252;
}

body.error p a:active,
body.error p a:focus {
  color: #464646;
}

body.error img {
  display: block;
  margin: auto;
}

body.error .container {
  background: #fafafa;
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  margin: auto;
  max-width: 400px;
  padding-left: 40px;
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
}
